<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Talk with people and make new friends" />
    <meta name="keywords" content="vebbo, vebbo.me, chat, video chat, video" />
    <meta name="author" content="Vebbo inc." />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/media.css" />
    <link rel="icon" type="image/png" href="./assets/icon-web.png" />
    <title>Vebbo | Connect with people</title>
  </head>
  <body>
    <button id="connect-btn">Connect Wallet</button>
    <label id="wallet-address">Wallet Address: Not connected</label>
    <br /><br />

    <h2>Pay 0.1 TON to Post note</h2>
    <button id="pay-btn">Pay 0.1 TON</button>

    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
