<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Talk with people and make new friends" />
    <meta name="keywords" content="vebbo, vebbo.me, chat, video chat, video" />
    <meta name="author" content="Vebbo inc." />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/media.css" />
    <link rel="stylesheet" type="text/css" href="./css/modal.css" />
    <link rel="icon" type="image/png" href="./assets/icon-web.png" />
    <title>Vebbo | Connect with people</title>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="top-section">
        <video id="remote-video" class="video" autoplay muted></video>
        <img src="./assets/icon.png" alt="Vebbo Icon" class="app-icon" />
        <img src="./assets/flag.png" alt="Report Icon" class="report-icon" />
        <div class="loader"></div>
        <div class="online-container">
          <span>online</span>
          <label class="count">1,200</label>
        </div>
      </div>

      <div class="note-section">
        <marquee
          class="note-content"
          scrolldelay="200"
          behavior="scroll"
          direction="left"
          >Ad space. Drop a note here 👉🏻 Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Libero, necessitatibus?
        </marquee>
        <label id="note-btn" class="btn">Ad</label>
      </div>

      <div class="bottom-section">
        <div class="left-bottom">
          <div class="video-local">
            <video id="local-video" class="video" autoplay muted></video>
          </div>
          <div class="buttons">
            <label id="start-stop" class="btn">Start</label>
            <label id="next" class="btn">Next</label>
          </div>
        </div>
        <div class="right-bottom">
          <ul class="chat-list">
            <li>
              <span class="you">You: </span>
              <p class="msg">Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
              <span class="other">User: </span>
              <p class="msg">Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <div class="chat-section">
            <input
              type="text"
              class="chat-field"
              autocomplete="off"
              placeholder="Write..."
            />
            <img src="./assets/send.png" alt="send" class="send-btn" />
          </div>
        </div>
      </div>

      <div id="popup_start" class="popup_msg overlay">
        <div class="popup">
          <h2>Meet new people</h2>
          <a class="close" href="#">&times;</a>
          <div class="details">
            <p class="pop_msg">
              You will need to enable camera and microphone permissions when
              prompted.
              <br />
              <br />
              <br />
              <span
                >By clicking 'OK' you agree to our
                <a href="https://vebbo.onrender.com/policy.html" target="_blank"
                  >terms and policy</a
                ></span
              >
            </p>
            <label class="popup_buttons">OK</label>
          </div>
        </div>
      </div>

      <div id="popup_report" class="popup_msg overlay">
        <div class="popup">
          <a class="close" href="#">&times;</a>
          <div class="details">
            <p class="pop_msg">Report this user</p>
            <button class="popup_buttons">Report</button>
          </div>
        </div>
      </div>

      <div id="popup_note" class="popup_msg overlay">
        <div class="popup">
          <h2>Drop a Note</h2>
          <a class="close" href="#">&times;</a>
          <div class="details">
            <textarea
              type="text"
              rows="6"
              id="note-field"
              placeholder="Write..."
              maxlength="1024"
            ></textarea>
            <label id="note-count" class="note-count">0/1024</label>
            <hr />
            <label id="walletLabel" class="walletLabel"
              >Wallet: Not Connected</label
            >
            <button class="wallet-btn popup_buttons" onclick="connectWallet()">
              Connect Wallet
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="lg-screen">
      <img src="./assets/icon.png" alt="Vebbo Icon" class="app-icon" />
      <a href="https://t.me/vebbo_bot">Open app in Telegram</a>
      <p>Hello there, Vebbo is currently only available on Telegram</p>
      <label>Vebbo &copy; 2025. copyright all rights reserved</label>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
