<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-L1NHJ2G8Z9"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-L1NHJ2G8Z9");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Talk with people and make new friends" />
    <meta name="keywords" content="vebbo, vebbo.me, chat, video chat, video" />
    <meta name="author" content="Vebbo inc." />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/media.css" />
    <link rel="stylesheet" type="text/css" href="./css/modal.css" />
    <link rel="icon" type="image/png" href="./assets/icon-web.png" />
    <title>Vebbo | Connect with people</title>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
  </head>
  <body>
    <div id="sm-screen" class="container">
      <div class="top-section">
        <video id="remote-video" class="video" autoplay></video>
        <img src="./assets/icon.png" alt="Vebbo Icon" class="app-icon" />
        <img
          src="./assets/flag.png"
          alt="Report Icon"
          id="report-btn"
          class="report-icon"
        />
        <div id="loader" class="loader"></div>
        <div id="online-container" class="online-container">
          <span>online</span>
          <label id="online-count" class="count"></label>
        </div>
      </div>

      <div class="note-section">
        <marquee
          id="note-content"
          class="note-content"
          scrolldelay="200"
          behavior="scroll"
          direction="left"
        >
        </marquee>
        <label id="note-btn" class="btn">Note</label>
      </div>

      <div class="bottom-section">
        <div class="left-bottom">
          <div class="video-local">
            <video id="local-video" class="video" autoplay muted></video>
          </div>
          <div class="buttons">
            <label id="start-stop" class="btn">Start</label>
            <label id="next" class="btn">Next</label>
          </div>
        </div>
        <div class="right-bottom">
          <label id="typing" class="typing">Typing...</label>
          <ul id="chat-list" class="chat-list"></ul>
          <div class="chat-section">
            <input
              id="chat-field"
              type="text"
              class="chat-field"
              autocomplete="off"
              placeholder="Write..."
            />
            <img
              src="./assets/send.png"
              alt="send"
              id="send-btn"
              class="send-btn"
            />
          </div>
        </div>
      </div>

      <div id="popup_start" class="popup_msg overlay">
        <div class="popup">
          <h2>Meet new people</h2>
          <div class="details">
            <p class="pop_msg">
              You will need to enable camera and microphone permissions when
              prompted.
              <br />
              <br />
              <br />
              <span
                >By clicking 'OK' you agree to our
                <a href="https://vebbo.onrender.com/policy.html" target="_blank"
                  >terms and policy</a
                ></span
              >
            </p>
            <label id="ok-btn" class="popup_buttons">OK</label>
          </div>
        </div>
      </div>

      <div id="popup_report" class="popup_msg overlay">
        <div class="popup">
          <a class="close" href="#">&times;</a>
          <div class="details">
            <p class="pop_msg">Report this user</p>
            <button id="send-report" class="popup_buttons">Report</button>
          </div>
        </div>
      </div>

      <div id="popup_note" class="popup_msg overlay">
        <div class="popup">
          <h2>Drop a Note</h2>
          <a class="close" href="#">&times;</a>
          <div class="details">
            <textarea
              type="text"
              rows="6"
              id="note-field"
              placeholder="Write..."
              maxlength="1024"
            ></textarea>
            <label id="note-count" class="note-count">0/1024</label>
            <hr />
            <label id="walletLabel" class="walletLabel"
              >Wallet: Not Connected</label
            >
            <div class="connection-container">
              <img src="./assets/disconnect.png" id="disconnect" />
              <button id="wallet-btn" class="wallet-btn popup_buttons">
                Connect Wallet
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="lg-screen" class="lg-screen">
      <img src="./assets/icon.png" alt="Vebbo Icon" class="app-icon" />
      <a class="terms-policy" href="https://vebbo.onrender.com/policy.html"
        >Terms &amp; Policy</a
      >
      <a class="open-telegram" href="https://t.me/vebbo_bot"
        >Open app in Telegram</a
      >
      <p>Hello there, Vebbo is currently only available on Telegram</p>
      <label>Vebbo &copy; 2025. All rights reserved</label>
    </div>
    <script src="./js/main.js"></script>
  </body>
</html>
