*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

:root {
  --box-s: 2px;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
}

:root {
  --primary-color: #4070f4;
  --secondary-color: #262938;
  --secondary-light: #3e6981;
  --secondary-hover: #385361;
  --accent-color: #6b394c;
  --grey: #ccc;
  --grey2: #616161;
  --light-grey: #888888;
  --secondary-grey: #555555;
  --dark-grey: #1b1b1b;
  --box: rgba(0, 0, 0, 0.5);
  --chat: #f4f4f4;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.lg-screen {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-section {
  flex: 1;
  height: 46vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-s) var(--box-s) var(--box-s) rgba(0, 0, 0, 0.1);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--dark-grey);
}

#local-video {
  box-shadow: var(--box-s) var(--box-s) var(--box-s) rgba(0, 0, 0, 0.1);
}

.app-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
}

.report-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
}

.report-icon:hover {
  opacity: 0.5;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-top: 4px solid var(--chat);
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  justify-self: center;
  align-self: center;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.online-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}

.online-container span {
  background-color: green;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}

.online-container label {
  font-size: 1.2rem;
  font-weight: bold;
}

.note-section {
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-s) var(--box-s) var(--box-s) rgba(0, 0, 0, 0.1);
  height: 8vh;
}

.note-content {
  flex: 1;
  overflow: hidden;
  font-size: 16px;
  color: white;
}

.bottom-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 46vh;
  width: 100%;
}

.left-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

.video-local {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.right-bottom {
  flex: 1;
  background-color: var(--chat);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50vw;
}

.chat-list {
  height: 40vh;
  width: 100%;
  border-bottom: var(--grey);
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  font-size: 0.9rem;
  padding: 4px;
}

li p {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

li .you {
  color: blue;
}

li .other {
  color: red;
}

.chat-section {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.chat-section input {
  width: 80%;
  margin-right: 4px;
  outline: none;
  border: none;
  padding: 8px 4px;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.chat-section img {
  width: 32px;
  height: 32px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.chat-section img:hover {
  opacity: 0.5;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.btn {
  background-color: var(--grey2);
  border-radius: 8px;
  color: white;
  padding: 8px;
  font-size: 1.2rem;
}

.btn:hover {
  opacity: 0.5;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  opacity: 1;
}

hr {
  height: 1px;
  margin: 4px 0;
  opacity: 0.1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.policy {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 50px 20px;
  color: white;
}

.policy h1 {
  margin: 30px 0 10px 0;
}

.policy .google_policy:hover {
  transform: scale(1.06);
  opacity: 0.9;
  transition: transform 0.2s ease-in;
}

.policy span {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .container {
    display: none;
  }

  .lg-screen {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .lg-screen .app-icon {
    width: 64px;
    height: 64px;
  }

  .lg-screen .terms-policy {
    position: absolute;
    top: 32px;
    right: 16px;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    color: white;
  }

  .lg-screen .open-telegram {
    background-color: var(--accent-color);
    color: white;
    padding: 32px;
    font-size: 2rem;
    border-radius: 8px;
    text-decoration: none;
    outline: none;
  }

  .lg-screen .open-telegram:hover,
  .lg-screen .terms-policy:hover {
    opacity: 0.5;
    transition: transform 0.2s ease-in;
    cursor: pointer;
  }

  .lg-screen p {
    margin-top: 16px;
    font-size: 1.5rem;
  }

  .lg-screen label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
  }
}
